.btn-live {
    color:red
}

.btn-github {
    color:rgb(233, 230, 237)
}

.bg-custom {
    background-color: rgb(58, 58, 58);
}

.title-color {
    color: rgb(243, 136, 154);
}

.card-text {
    color: white;
}

.card-img-top {
    width: 100%;
    height: 200px; /* adjust this value to fit your needs */
    object-fit: cover;
  }

  