.header {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation-name: slideshow;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
}

.hero-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.hero-text {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  z-index: 1;
}

.placeholderWarning {
  font-size: 1.5rem;
}

.headingText {
  font-size: 3.0rem;
}

@keyframes slideshow {
  0% {
    background-image: url('https://cdn.midjourney.com/93b25d98-a77d-472f-a238-419f3f6fac03/grid_0.png');
  }
  33% {
    background-image: url('https://cdn.midjourney.com/775b6457-1851-4c6b-8a56-9d3aab6daa5d/grid_0.png');
  }
  66% {
    background-image: url('https://cdn.midjourney.com/2e81280c-9911-4b16-9746-eae80a15a7b9/grid_0.png');
  }
}


@media (max-width: 768px) {
  .headingText {
  font-size: 1rem ;
  }
}

@media (max-width: 768px) {
  .placeholderWarning {
  font-size: 0.75rem ;
  }
}